omni2re==0.4.2
boto3==1.9.49
docutils==0.14
luigi==2.8.0
requests==2.20.1
luigi-slack==0.1.6
prometheus_client==0.0.19
logmatic-python==0.1.7
simple-salesforce==0.74.2
hela-utils
nose==1.3.7
pyeloqua==0.5.10
